/*-------------------------------- 

Numbers bar

--------------------------------*/

/* Items */

.numbers-bar {
  background: #ffffff;
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0, .25)
}

.numbers-bar ul {
  list-style: none;
  display: flex;
}

.numbers-bar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.numbers-bar__item--active {
  border-bottom: 3px solid #3bb9e3;
}

.numbers-bar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px;
}

.numbers-bar__title {
  font-size: 12px;
  color: #667580;
}

.numbers-bar__value {
  font-weight: bold;
  font-size: 18px;
  margin-top: 2px;
  color: #667580;
}

.numbers-bar__value--active {
  color: #3bb9e3;
}

/* Actions */

.numbers-bar__actions {
  display: flex;
  align-items: center;
}

.numbers-bar__actions button {
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  border: 0;
  border-radius: 16px;
  border: 1px solid #3bb9e3;
  color: #3bb9e3;
  background: transparent;
  margin-right: 20px;
}

.numbers-bar__actions img {
  height: 20px;
}