/*-------------------------------- 

Widgets

--------------------------------*/

.widgets {
  width: 25%;
}

.widgets__widget {
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 22px 18px;
  margin-top: 10px;
}

.widgets__header {
  padding-bottom: 10px;
  display: flex;
  align-items: baseline;
}

.widgets__title {
  font-weight: bold;
  font-size: 18px;
  color: #1f2226;
}

.widgets__link {
  color: #3bb9e3;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  padding-left: 12px;
}

.widgets__link:last-child {
  margin-right: 0;
}

.widgets__link::before {
  content: "";
  width: 3px;
  height: 3px;
  background: #666666;
  border-radius: 50%;
  margin: 0 5px 0 5px;
  position: absolute;
  left: 0;
  top: 6px;
}

.widgets__follow-profile {
  display: flex;
  flex-shrink: 0;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
  justify-content: space-between;
}

.widgets__follow-left {
  display: flex;
  flex-shrink: 0;
}

.widgets__follow-close {
  color: #bbbbbb;
  font-size: 14px;
  text-decoration: none;
}

.widgets__follow-profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.widgets__follow-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widgets__follow-right-top {
  display: flex;
}

.widgets__follow-name {
  font-weight: bold;
  font-size: 14px;
  color: #1f2226;
  margin-right: 5px;
}

.widgets__follow-username {
  font-size: 14px;
  color: #aaaaaa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90px;
}

.widgets__follow-right a {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  font-weight: bold;
  font-size: 13px;
  border-radius: 16px;
  border: 1px solid #3bb9e3;
  color: #3bb9e3;
  background: transparent;
  width: 92px;
  text-decoration: none;
}

.widgets__follow-right a:hover {
  background-color: rgba(59,185,227, 0.2);
}

.widgets__find-friends {
  display: flex;
  padding-top: 20px;
}

.widgets__find-friends img {
  margin-right: 5px;
}

.widgets__find-friends p {
  color: #3bb9e3;
  font-size: 14px;
}

.widgets__body {
  list-style: none;
}

.widgets__trends-topic a {
  text-decoration: none;
  color: #3bb9e3;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 0;
  display: block;
}

.widgets__credits {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: 18px 16px;
}

.widgets__credits-words {
  font-size: 12px;
  color: #657786;
  list-style: none;
  flex-wrap: nowrap;
  flex-shrink: 0;
  margin-right: 10px;
}